services:
  auth-service:
    build: ./auth-service/
    container_name: auth-service
    depends_on:
      - mongo
    ports:
      - "9999:9000"

  mongo:
    image: mongo
    container_name: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=user
      - MONGO_INITDB_ROOT_PASSWORD=pass
    volumes:
      - ./mongodb/data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-gui
    restart: always
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://user:pass@mongo:27017/"
      ME_CONFIG_MONGODB_ADMINUSERNAME: user
      ME_CONFIG_MONGODB_ADMINPASSWORD: pass
    depends_on:
      - mongo
    ports:
      - 8084:8081